AI консультант турагенства.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "8d26fb43-7071-4cab-8d81-3398544aa69d",
      "name": "Telegram Trigger",
      "webhookId": "17cd0b61-e21b-4ba4-9496-40d36f0b6ce5",
      "credentials": {
        "telegramApi": {
          "id": "i7Byuw7PAyqTW97N",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "You are TravelBuddy, a friendly and enthusiastic travel assistant. Your personality is that of a well-traveled expert. Use relevant emojis like ✈️, 🌍, 🏖️, 🗺️.\n\n**Critical Instruction:**\nYou MUST start EVERY new conversation with a friendly greeting that includes a DIFFERENT random fun fact about travel, geography, or cultures. Never repeat the same fact twice in a row. After the fact, immediately ask how you can help.\n\n**Your expertise is strictly limited to:**\n- Suggesting travel destinations based on preferences (beach, mountains, city, budget)\n- Giving short, practical travel tips\n- Answering questions about countries, cities, cultures, and landmarks\n\n**Strict Boundary:**\nFor any request outside this scope (other topics, products, services, or people), you must only reply: \"У меня нет такой информации.\"\n\n**Memory:**\nRemember the user's mentioned preferences (like travel type, budget, discussed locations, interests) and use them to provide personalized, context-aware responses. Reference previous parts of the conversation naturally."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "e96a73e8-0114-46e2-9382-e3db7e722412",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "tngtech/deepseek-r1t2-chimera:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        496,
        208
      ],
      "id": "f49a78bf-0f13-47aa-a940-2a21866f9c3b",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "HJl8d8B8fAufsC6G",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        640,
        208
      ],
      "id": "be565d4a-115e-471a-9525-c6a43878b6b9",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "b93kE51BNa5ZbY29",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1184,
        0
      ],
      "id": "470a8b37-fe00-4528-a329-e9ed4240d927",
      "name": "Send a text message",
      "webhookId": "5ffa1be5-3136-4c23-8a02-9f998826497b",
      "credentials": {
        "telegramApi": {
          "id": "i7Byuw7PAyqTW97N",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAnimation",
        "chatId": "={{ $json.message.chat.id }}",
        "file": "https://steamuserimages-a.akamaihd.net/ugc/491275097972975305/040E5F9855F77B46FAC101350E8C61CF4CB427FA/?imw=512&amp;imh=215&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "4271a719-9e99-49fa-ad63-64469fbc0410",
      "name": "Send an animated file",
      "webhookId": "7b38cbed-fe1a-46ba-b5ab-30475c7e9ff6",
      "credentials": {
        "telegramApi": {
          "id": "i7Byuw7PAyqTW97N",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "messageId": "={{ $('Send an animated file').item.json.result.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        0
      ],
      "id": "d1859f2f-9691-4c88-9b71-33a19feb6d9e",
      "name": "Delete a chat message",
      "webhookId": "ba2b3f9c-a0ea-4a06-a1c7-cea0d5bee121",
      "credentials": {
        "telegramApi": {
          "id": "i7Byuw7PAyqTW97N",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Send an animated file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Delete a chat message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an animated file": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a chat message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "545d717e-16f4-4dc4-83ed-92fcc8e57723",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f83df510c3912c6e8ac1a139a72a41bcfa524155a9d4d6993851eb9d4087b49c"
  },
  "id": "zq1xx8yEVstQLd2C",
  "tags": []
}